html{
  font-family: arial;
}

h1{
  background-color: rgb(204,0,0);
  font-weight: bolder;
  font-size: 200%;
  color: white;
  padding: 22px;
}

h1 a{
  font-size: 55%;
}

a{
  color: white;
  float: right;
  padding: 15;
  font-size: 110%;
}

.navigation-bar {
  background-color: rgb(64,64,64);
  overflow:hidden;
  padding-right: 20;
}
