html {
  font-family: arial;
  margin: 0;
	padding: 0;
	border: 0;
}

h1 {
  background-color: rgb(204,0,0);
  font-weight: bolder;
  font-size: 200%;
  color: white;
  margin: 0;
	padding: 0;
	border: 0;

}

h1 a {
  font-size: 55%;
}

a {
  color: white;
  float: right;
  padding: 15;
  font-size: 110%;
}

.navigation-bar {
  background-color: rgb(64,64,64);
  overflow:hidden;
  padding-right: 20;
}

.museum-photo {
  float: left;
  margin-left:30px;
  margin-top: 30px;
  margin-bottom:30px;
}

h2 {
  font-size: 140%;
  font-weight: bold;
  position: absolute;
  top: 730;
  left: 40;
}

.main-paragraph {
  text-align: justify;
  position: absolute;
  top: 770;
  left: 40;
  margin-right: 400;
}

.right-column {
  position: absolute;
  top: 155;
  right: 45;
}

h3 {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 10px;
}

img {
  margin-bottom: 45px;
}

footer {
  background-color: rgb(64,64,64);
  color: white;
  position: absolute;
  top: 1024px;
  padding: 20px;
}
