html{
  font-family: arial;
}

h1{
  background-color: rgb(204,0,0);
  font-weight: bolder;
  font-size: 200%;
  color: white;
  padding: 22px;
}

h1 a{
  font-size: 50%;
  color: inherit;
  padding: 11;
  float: right;
}
